{% extends 'noisemapper/base.html' %}
{% load static %}
{% block title %}{{ block.super }} - Index{% endblock %}

{% block extra_css %}
    <link rel="stylesheet" type="text/css" href="{% static 'noisemapper/lib/datatables-1.10.13/datatables.css' %}"/>

    <style type="text/css">

        #map {
            height: 680px;
        }

    </style>
{% endblock extra_css %}

{% block extra_js %}
    <script
            {#            src="https://maps.googleapis.com/maps/api/js?key={{ GOOGLE_MAPS_API_KEY }}&libraries=visualization&callback=initMap">#}
            src="https://maps.googleapis.com/maps/api/js?key={{ GOOGLE_MAPS_API_KEY }}&libraries=visualization">
    </script>

    <script  src="{% static 'noisemapper/lib/heatmap-js/heatmap.js' %}"></script>
    <script  src="{% static 'noisemapper/lib/heatmap-js/gmaps-heatmap.js' %}"></script>

    <script type="text/javascript" src="{% static 'noisemapper/lib/datatables-1.10.13/datatables.js' %}"></script>
    <script type="text/javascript" src="{% static 'noisemapper/lib/geolib.js' %}"></script>

    <script>

        var map;
        var heatmap;

        var oslo = {lat: 59.933955, lng: 10.713831};
        function initMap() {
            map = new google.maps.Map(document.getElementById('map'), {
                zoom: 12,
                center: oslo,
                mapTypeId: 'terrain',
            });

            map.addListener('click', function(e) {
                onMapClicked(e.latLng);
            });

            //heatmap layer
            heatmap = new HeatmapOverlay(map,
                {
                    // radius should be small ONLY if scaleRadius is true (or small radius is intended)
{#                    "radius": 0.0005,#}
                    // scales the radius based on map zoom
{#                    "scaleRadius": true,#}
                    "radius": 35,
                    "maxOpacity": 1,
                    // if set to false the heatmap uses the global maximum for colorization
                    // if activated: uses the data maximum within the current map boundaries
                    //   (there will always be a red spot with useLocalExtremas true)
                    "useLocalExtrema": false,
                    // which field name in your data represents the latitude - default "lat"
                    latField: 'lat',
                    // which field name in your data represents the longitude - default "lng"
                    lngField: 'lon',
                    // which field name in your data represents the data value - default "value"
                    valueField: 'weight',
                }
            );

            // This will be triggered as soon as the maps shows up. No need to call `reloadData()` manually.
            map.addListener('bounds_changed', _.debounce(reloadData, 200));
        }

        function toggleDissipating() {
{#            heatmap.set('dissipating', heatmap.get('dissipating') ? false : true);#}
        }

        function updateRadius(newValue) {
            heatmap.set('radius', Number(newValue));
        }

        function handleErrorResponse(response) {
            console.log("Error response: ", response);
            alert("Error! See the console");
        }

        function onMapClicked(latLng) {
            var minDist = Number.MAX_VALUE;
            var minIdx = -1;
            for (var i = 0; i < currentRawData.length; i++) {
                var dist = geolib.getDistance(
                    {latitude: latLng.lat(), longitude: latLng.lng()},
                    {latitude: currentRawData[i].coordinates.lat, longitude: currentRawData[i].coordinates.lon}
                );
                if (dist < minDist) {
                    minDist = dist;
                    minIdx = i;
                }
            }

            if (minIdx != -i) {
                var infowindow = new google.maps.InfoWindow({
                    content: '<pre style="user-select: text;">' + JSON.stringify(currentRawData[minIdx], null, 2) + '</pre>',
                });

                var marker = new google.maps.Marker({
                    position: {lat: currentRawData[minIdx].coordinates.lat, lng: currentRawData[minIdx].coordinates.lon},
                    map: map,
                });
                infowindow.open(map, marker);
                markers.push(marker);
            }
        }

        var reloadData = function () {
            var bounds = map.getBounds().toJSON();
            var maxOrAvg = $('input[name=max_or_avg]:checked').val();
            var resolution = $('#resolution').val();
            var func = $('#func').val();
            var isCropping = $('input[name=is_cropping]').is(':checked');

            var isClustering = $('input[name=is_clustering]').is(':checked');
            if (!isClustering) { resolution = false; }

            var dataType = $('#data_type').val();

            var deviceNames = $('.device-name-container input:checked').map(function (idx, el) {
                return $(el).data('deviceName');
            }).get().join('|');

            var url;
            if (dataType == 'actual') {
                url = '{% url 'api_get_actual_data' %}';
            } else {
                url = '{% url 'api_get_deviation_data' %}';
            }

            var data = {
                maxOrAvg: maxOrAvg,
                resolution: resolution,
                func: func,
                deviceNames: deviceNames,
                is_cropping: isCropping,
            };
            $.extend(data, bounds);

            var downloadUrl = $('#btn_download').data('baseHref');
            downloadUrl += '?' + $.param(data);
            $('#btn_download').attr('href', downloadUrl);

            $.ajax({
                url: url,
                type: 'GET',
                data: data,
                dataType: 'json',
            }).then(function (response) {
                if (response.success == true) {
                    var heatmapData = [];
                    response.data.forEach(function (dataPoint) {
                        var coords = dataPoint.coordinates;
                        var latLng = new google.maps.LatLng(coords.lon, coords.lat);
                        var weightedLoc = {
                            location: latLng,
                            lat: coords.lat,
                            lon: coords.lon,
                            weight: dataPoint.display,
                        };
                        heatmapData.push(weightedLoc);
                    });
                    heatmap.setData({data: heatmapData, min: response.min-0.1, max: response.max+0.1});
                    $('#raw-data').text(JSON.stringify(response.data, null, 2));
                    currentRawData = response.data;

                    rawDataTable.clear();
                    rawDataTable.rows.add(response.data).draw();
                } else {
                    handleErrorResponse(repsonse);
                }
            });
        };

        var markers = [];
        function addMarker() {
            var $this = $(this);
            var latLon = {
                lat: Number.parseFloat($this.data('lat')),
                lng: Number.parseFloat($this.data('lon')),
            }

            var marker = new google.maps.Marker({
                position: latLon,
                map: map,
                title: 'Hello World!'
            });
            markers.push(marker);
        }

        function _makeMarkerBtn(data, type, full, meta) {
            var btn = $('<button>')
                .addClass('btn btn-default btn-add-marker')
                .text('Add marker')
{#                .data('coordinates', full.coordinates)#}
                .attr('data-lat', full.coordinates.lat)
                .attr('data-lon', full.coordinates.lon)
                .click(addMarker);
            return $('<div>').append(btn).html();
        }

        function clearMarkers() {
            markers.forEach(function(marker) {marker.setMap(null); })
            markers = [];
        }

        var rawDataTable;
        var currentRawData;
        $(function() {
            initMap();

            $('.reload-on-change').on('change', function () {
                reloadData();
            });

            $('#rawDataTable').on('click', '.btn-add-marker', addMarker);

            rawDataTable = $('#rawDataTable').DataTable({
                columns: [
                    { data: "coordinates.lat" },
                    { data: "coordinates.lon" },
                    { data: "value" },
                    { data: "display" },
                    { data: null, render: _makeMarkerBtn},
                    { data: 'original', render: function (data) { return data.length; }},
                    { data: 'original[, ].uuid',},
                ]

            });
        });
    </script>
{% endblock extra_js %}

{% block content %}
    <div class="container-fluid">
        <div id="map"></div>
    </div>

    <div class="container">
        <div class="row ">
            <div class="btn-group device-name-container" data-toggle="buttons">
                {% for device_name in device_name_list %}
                    <label class="btn btn-default">
                        <input type="checkbox" autocomplete="off" class="reload-on-change"
                               data-device-name="{{ device_name }}">
                        {{ device_name }}
                    </label>
                {% endfor %}
            </div>
        <a href="#" data-base-href="{% url 'api_download' %}" class="btn btn-link pull-right" id="btn_download">Download</a>
        </div>

        <button onclick="toggleDissipating()">Toggle Heatmap</button>
        <label>Radius: <input type="number" onchange="updateRadius(this.value)"/></label>

        <div>
            <label><input type="radio" class="reload-on-change" name="max_or_avg" value="measurement_max">MAX</label>
            <label><input type="radio" class="reload-on-change" name="max_or_avg" value="measurement_avg" checked>AVG</label>
            <label><input type="checkbox" class="reload-on-change" name="is_clustering" checked>Enable clustering</label>
            <label><input type="checkbox" class="reload-on-change" name="is_cropping">Enable cropping</label>
            <label>
                Data type:
                <select class="reload-on-change"  id="data_type" name="data_type">
                    <option value="actual">Actual values</option>
                    <option value="deviation">Deviation from average</option>
                </select>
            </label>
        </div>
        <label>
            Aggregation function:
            <select class="reload-on-change"  id="func" name="func">
                <option value="sum">SUM</option>
                <option value="avg">AVG</option>
                <option value="max">MAX</option>
            </select>
        </label>
        <label>Resolution: <input type="number" class="reload-on-change" id="resolution" value="100"/></label>
        <button onclick="reloadData()">Reload data</button>
        <button onclick="clearMarkers()">Clear markers</button>

    <table class="table table-bordered table-striped" id="rawDataTable">
        <thead>
            <tr>
                <th>Latitude</th>
                <th>Longitude</th>
                <th>Value (AVG / MAX)</th>
                <th>Weight</th>
                <th>Marker</th>
                <th>Count</th>
                <th>UUIDs</th>
            </tr>
        </thead>
    </table>

        <pre id="raw-data">{{ clustered_display|safe }}</pre>
    </div>
{% endblock %}
