{% extends 'noisemapper/base.html' %}
{% load static %}
{% block title %}{{ block.super }} - Index{% endblock %}

{% block extra_css %}
    <style type="text/css">

        #map {
            height: 500px;
        }

    </style>
{% endblock extra_css %}

{% block extra_js %}
    <script
            {#            src="https://maps.googleapis.com/maps/api/js?key={{ GOOGLE_MAPS_API_KEY }}&libraries=visualization&callback=initMap">#}
            src="https://maps.googleapis.com/maps/api/js?key={{ GOOGLE_MAPS_API_KEY }}&libraries=visualization">
    </script>

    <script  src="{% static 'noisemapper/lib/heatmap-js/heatmap.js' %}"></script>
    <script  src="{% static 'noisemapper/lib/heatmap-js/gmaps-heatmap.js' %}"></script>

    <script>

        var map;
        var heatmap;

        var oslo = {lat: 59.933955, lng: 10.713831};
        function initMap() {
            map = new google.maps.Map(document.getElementById('map'), {
                zoom: 12,
                center: oslo,
                mapTypeId: 'terrain',
            });

            //heatmap layer
            heatmap = new HeatmapOverlay(map,
                {
                    // radius should be small ONLY if scaleRadius is true (or small radius is intended)
{#                    "radius": 0.0005,#}
                    // scales the radius based on map zoom
{#                    "scaleRadius": true,#}
                    "radius": 20,
                    "maxOpacity": 1,
                    // if set to false the heatmap uses the global maximum for colorization
                    // if activated: uses the data maximum within the current map boundaries
                    //   (there will always be a red spot with useLocalExtremas true)
                    "useLocalExtrema": false,
                    // which field name in your data represents the latitude - default "lat"
                    latField: 'lon',
                    // which field name in your data represents the longitude - default "lng"
                    lngField: 'lat',
                    // which field name in your data represents the data value - default "value"
                    valueField: 'weight',
                }
            );

            // This will be triggered as soon as the maps shows up. No need to call `reloadData()` manually.
            map.addListener('bounds_changed', _.debounce(reloadData, 200));
        }

        function toggleDissipating() {
{#            heatmap.set('dissipating', heatmap.get('dissipating') ? false : true);#}
        }

        function updateRadius(newValue) {
            heatmap.set('radius', Number(newValue));
        }

        function handleErrorResponse(response) {
            console.log("Error response: ", response);
            alert("Error! See the console");
        }

        $('.reload-on-change').on('change', function () {
            reloadData();
        });

        var reloadData = function () {
            var bounds = map.getBounds().toJSON();
            var maxOrAvg = $('input[name=max_or_avg]:checked').val();
            var resolution = $('#resolution').val();
            var func = $('#func').val();

            var data = {
                maxOrAvg: maxOrAvg,
                resolution: resolution,
                func: func,
            };
            $.extend(data, bounds);

            $.ajax({
                url: '{% url 'api_get_clustered_data' %}',
{#                url: '{% url 'api_get_nonclustered_data' %}',#}
                type: 'GET',
                data: data,
                dataType: 'json',
            }).then(function (response) {
                if (response.success == true) {
                    var heatmapData = [];
                    response.data.forEach(function (dataPoint) {
                        var coords = dataPoint.coordinates;
                        var latLng = new google.maps.LatLng(coords.lon, coords.lat);
                        var weightedLoc = {
                            location: latLng,
                            lat: coords.lat,
                            lon: coords.lon,
                            weight: dataPoint.display,
                        };
                        heatmapData.push(weightedLoc);
                    });
                    heatmap.setData({data: heatmapData, min: 1, max: 4});
                    $('#raw-data').text(JSON.stringify(response.data, null, 2));
                } else {
                    handleErrorResponse(repsonse);
                }
            });
        };

        $(initMap);
    </script>
{% endblock extra_js %}

{% block content %}
    <div class="container">
        <div id="map"></div>
        <button onclick="toggleDissipating()">Toggle Heatmap</button>
        <label>Radius: <input type="number" onchange="updateRadius(this.value)"/></label>

        <div>
            <label><input type="radio" class="reload-on-change" name="max_or_avg" value="max">MAX</label>
            <label><input type="radio" class="reload-on-change" name="max_or_avg" value="avg" checked>AVG</label>
        </div>
        <label>
            Aggregation function:
            <select class="reload-on-change"  id="func" name="func">
                <option value="sum">SUM</option>
                <option value="avg">AVG</option>
                <option value="max">MAX</option>
            </select>
        </label>
        <label>Resolution: <input type="number" class="reload-on-change" id="resolution" value="0.0001"/></label>
        <button onclick="reloadData()">Reload data</button>

        <pre id="raw-data">{{ clustered_display|safe }}</pre>
    </div>
{% endblock %}
