{% extends 'noisemapper/base.html' %}
{% block title %}{{ block.super }} - Index{% endblock %}

{% block extra_css %}
    <style type="text/css">

        #map {
            height: 500px;
        }

    </style>
{% endblock extra_css %}

{% block extra_js %}

    <script>

        var noiseData = {{ noise_data|safe }};

        var map;
        var heatmap;

        var oslo = {lat: 59.933955, lng: 10.713831};
        function initMap() {
            map = new google.maps.Map(document.getElementById('map'), {
                zoom: 12,
                center: oslo,
                mapTypeId: 'terrain',
            });

            processData(noiseData);
        }

        function processData(results) {
            var heatmapData = [];
            for (var i = 0; i < results.length; i++) {
                var coords = results[i].coordinates;
                var latLng = new google.maps.LatLng(coords.lon, coords.lat);
                var weightedLoc = {
                    location: latLng,
                    weight: results[i].avg,
                };
                heatmapData.push(weightedLoc);
            }
            heatmap = new google.maps.visualization.HeatmapLayer({
                data: heatmapData,
                dissipating: true,
                radius: 20,
                map: map
            });
        }

        function toggleDissipating() {
            heatmap.set('dissipating', heatmap.get('dissipating') ? false : true);
        }
    </script>
    <script async defer
            src="https://maps.googleapis.com/maps/api/js?key={{ GOOGLE_MAPS_API_KEY }}&libraries=visualization&callback=initMap">
    </script>
{% endblock extra_js%}

{% block content %}
	<div class="container">
        <div id="map"></div>
        <button onclick="toggleDissipating()">Toggle Heatmap</button>
	</div>
{% endblock %}
